<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ContentSearch.EnableSearchDebug" value="true" />
    </settings>
    <contentSearch>
      <configuration type="Marketing.Search.XmlProvider.XmlSearchConfiguration, Marketing.Search">
        <DefaultIndexConfiguration type="Marketing.Search.XmlProvider.XmlIndexConfiguration, Marketing.Search">
          <IndexFieldStorageValueFormatter type="Marketing.Search.XmlProvider.XmlIndexFieldStorageValueFormatter, Marketing.Search" />
          <IndexDocumentPropertyMapper type="Marketing.Search.XmlProvider.DefaultXmlDocumentTypeMapper, Marketing.Search" />
          <DocumentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch" />
          <IndexAllFields>false</IndexAllFields>
          <include hint="list:IncludeField">
            <Title>{75577384-3C97-45DA-A847-81B00500E250}</Title>
            <CheckTest>{67AE55AA-96F5-4AB2-802F-D7C0D1DACB04}</CheckTest>
            <DateTest>{7C6E167B-EA64-4609-B93D-49BE9339DC1B}</DateTest>
          </include>
          <FieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
          </FieldReaders>-->
          <!-- START: post 5 -->
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldTypes hint="raw:AddFieldByFieldName">
              <fieldType fieldName="Text" storageType="CDATA" settingType="Marketing.Search.XmlProvider.XmlFieldConfiguration, Marketing.Search" />
            </fieldTypes>
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="text" storageType="REGULAR" settingType="Marketing.Search.XmlProvider.XmlFieldConfiguration, Marketing.Search" />
              <!-- START: post 6 -->
              <fieldType fieldTypeName="checkbox" settingType="Marketing.Search.XmlProvider.XmlFieldConfiguration, Marketing.Search" />
              <fieldType fieldTypeName="date" settingType="Marketing.Search.XmlProvider.XmlFieldConfiguration, Marketing.Search" />
              <!-- END: post 6 -->
            </fieldTypes>
          </fieldMap>
          <!-- END: post 5 -->
          <!-- START: post 6-->
          <FieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="checkbox" fieldReaderType="Sitecore.ContentSearch.FieldReaders.CheckboxFieldReader, Sitecore.ContentSearch" />
              <fieldReader fieldTypeName="date" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DateFieldReader, Sitecore.ContentSearch" />
            </mapFieldByTypeName>
          </FieldReaders>
          <!-- END: post 6 -->
        </DefaultIndexConfiguration>
        <indexes hint="list:AddIndex">
          <index id="xml_master_index" type="Marketing.Search.XmlProvider.XmlIndex, Marketing.Search">
            <param desc="name">$(id)</param>
            <param desc="folderName">$(id)</param>
            <locations hint="list:AddCrawler">
              <!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/Content</Root>
              </crawler>-->
              <crawler type="Marketing.Search.XmlProvider.XmlDatabaseCrawler, Marketing.Search">
                <Database>master</Database>
                <Root>/sitecore</Root>
              </crawler>
            </locations>
            <strategies hint="list:AddStrategy">
              <strategy type="Sitecore.ContentSearch.Maintenance.Strategies.SynchronousStrategy, Sitecore.ContentSearch">
                <param desc="database">master</param>
              </strategy>
            </strategies>
            <!-- START: part 3 -->
            <propertyStore type="Sitecore.ContentSearch.Maintenance.IndexDatabasePropertyStore, Sitecore.ContentSearch">
              <Key>$(1)</Key>
              <Database>core</Database>
            </propertyStore>
            <!-- END: part 3 -->
            <!-- START: part 7 -->
            <!-- summary type="Marketing.Search.XmlProvider.XmlSearchIndexSummary, Marketing.Search" /-->
            <!-- END: part 7 -->
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
